/vendor
/assets/prenominas
/assets/archivos
/assets/historial
/assets/archivos_usuario
/assets/descuento
/assets/img/perfil
/assets/mensajes
/assets/movimiento
/assets/nominas
/assets/pase
/assets/permiso
/assets/gastos
/assets/expediente
/assets/vacacion
/assets/usuario
/assets/beneficiario
/assets/php/error_log
/assets/php/conexion.php